name: Check Pull Request name

on:
  pull_request:
    types: [opened, edited, reopened, synchronize]

jobs:
  lint-pr-title:
    name: Check PR title format
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Check pull-request name
        uses: actions/github-script@v7

        with:
          script: |
            const script = require('./Scripts/CheckPullRequestName.js');
            await script({ github, context, core });
